body {
  background-color: #F9F3E2;
}
#demo {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  /*background-color: #CCA357;*/
}

img {
  margin: 0.3em auto;
  height: 200px;
  width: 200px;

  border-radius: 100px;
}

li {
  padding: 5px;
  width: 225px;
  height: 300px;
  margin: 10px 10px 5px 0px;
  border-radius: 25px;

  background-color: #CCA357;

  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

li:hover {
  background-color: #E6CC84;
}
